{% extends 'base.html.twig' %}

{% block body %}


    <h1>Classement des livreurs</h1>

    <h2>Livreur le plus efficace :{{ classementEfficacity[0].nom }}</h2>
    <p>Le livreur ayant effectué le plus de livraison.</p>
    <h2>Livreur le plus rapide : {{ classementRapidity[0].nom }}</h2>
    <p>Le livreur ayant  le meilleur temps de livraison</p>
    <h2>Livreur le plus ponctuel : {{ classementPonctuality[0].nom }} </h2>
    <p>Le livreur ayant  le taux d'absence le plus bas.</p>
    <h2>Livreur le plus soigneux : {{ classementSoigneux[0].nom }} </h2>
    <p>Le livreur dont les commandes arrivent dans le meilleur etat</p>
    <h2>Livreur du mois : </h2>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Nombre de livraisons</th>
                <th scope="col">Temps de livraison moyen</th>
                <th scope="col">Absences</th>
                <th scope="col">Etat d'arrivée des commandes</th>
            </tr>
            </thead>
            <tbody>

            {% for livreur in livreurs %}
            <tr>
                <th scope="row">{{ livreur.ID }}</th>
                <td>{{ livreur.nom }}</td>
                <td>{{ livreur.nombrelivraisons }}</td>
                <td>{{ livreur.tempslivraison }} minutes</td>
                <td>{{ livreur.absences }}</td>
                <td>{{ livreur.etatcommande }} / 10</td>
            </tr>

            {% endfor %}

            </tbody>
        </table>





{% endblock %}